<aside
  class="w-[50px] hover:w-[280px] bg-detailsColor shadow-sm shadow-shadowColor absolute bottom-0 top-0 transition-all overflow-hidden px-2 flex flex-col justify-between">

  <div class="mx-auto w-[200px] mt-8">
    <h2 class="text-2xl font-bold text-center">Menú</h2>
  </div>

  <div class="flex flex-col gap-[1em] overflow-hidden mt-[-20em]">
    <button
      class="rounded-lg py-2 font-semibold text-buttonColor hover:bg-shadowColor gap-3 text-lg flex items-center w-[260px] px-1"><mat-icon
        fontIcon="star_outline"></mat-icon> Favoritos </button>

    <button
      class="rounded-lg py-2 font-semibold text-buttonColor hover:bg-shadowColor gap-3 text-lg flex items-center w-[260px] px-1"><mat-icon
        fontIcon="search"></mat-icon> Búsquedas recientes</button>

    <button
      class="rounded-lg py-2 font-semibold text-buttonColor hover:bg-shadowColor gap-3 text-lg flex items-center w-[260px] px-1"><mat-icon
        fontIcon="info_outline"></mat-icon> Más información</button>
  </div>


  <div class="mx-auto w-[200px]">
    <h2 class="text-xl font-bold text-center mb-8">Movie App</h2>
  </div>

</aside>
