<div class="flex flex-col gap-2 mt-8">
  <button
  (click)="buttonCloseMenu()"
  class="rounded-md font-semibold text-start text-buttonColor active:bg-shadowColor xl:hover:bg-shadowColor p-2 flex items-center gap-2 md:text-lg"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star_outline"></mat-icon> Favoritos</button>
  <button
  (click)="buttonCloseMenu()"
  class="rounded-md font-semibold text-start text-buttonColor active:bg-shadowColor xl:hover:bg-shadowColor p-2 flex items-center gap-2 md:text-lg"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon> Búsquedas recientes</button>
  <button
  (click)="buttonCloseMenu()"
  class="rounded-md font-semibold text-start text-buttonColor active:bg-shadowColor xl:hover:bg-shadowColor p-2 flex items-center gap-2 md:text-lg"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info_outline"></mat-icon> Más información</button>
</div>
